#player,#player a{ color:#000000;  font-size: 11px; font-family: CONSOLAS;}
#player{ background:url(); background-position:bottom; background-color: #fff;}
#player .mainImage{ background:url(https://i.imgur.com/aEnernM.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(https://i.imgur.com/CGXfzME.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 11px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#fff; }
#player #seekerSliderBase{ background-color:#CD2990; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/bwau89v/KVxmk8ywo/quadrado.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#000;}
#playlist .module{  color:#fff; background-color:#000; }
#playlist h3{ background:url(); color:#fff; background-color:#000;  }
#playlist .even{background-color:#000;}
#playlist .odd{ background-color:#000;}
#playlist .focus{ background-color:#000; color:#cacaca;}